@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;900&family=Roboto:wght@700;900&display=swap')
@import './utility.sass'
@import './component.sass'


/* ----------------------------------- */
/* ------ Layout ------ */
/* ----------------------------------- */
/* -- header -- */
.l-header
  display: flex
  justify-content: flex-end
  align-items: center
  +size(100%, 100vh)
  background-image: linear-gradient(to bottom, $color-gray 65%, transparent)
  &__slogan-wrap
    position: absolute
    right: 5vw
    top: 5rem
    pointer-events: none
    z-index: 20
  &__slogan
    &::after
      content: ''
      display: block
      position: absolute
      +size(7rem)
      left: 68%
      bottom: 54%
      border-radius: 50%
      border: 8px solid $color-gray-light
    &:first-child
      position: absolute
      left: -1rem
      top: 0
      color: $color-main
      &::after
        border: 8px solid $color-main

  &__swiper
    transform: scale(1)
    transition: 0.3s cubic-bezier(.6,.58,.59,1.58)
    &:hover
      transform: scale(1.05)

  &__swiper-box
    width: 100%
    max-width: 1400px
    padding-right: 6vw
  &__svg-mask
    position: absolute
    +size(0)
    pointer-events: none
  &__img
    +size(100%, auto)
    transform-origin: center center
    transform: scale(1)
    transition: transform 10s

.swiper-slide-active, .swiper-slide-duplicate-active
  .l-header
    &__img
      transform: scale(1.1)

section
  padding: 0 4vw
.container
  max-width: 1560px

.l-lineup
  margin-top: 3rem
  &::after
    content: ""
    display: block
    +size(100%,20rem)
  &__sticky
    position: sticky
    top: 6px
  &__title-section
    margin-bottom: 4rem
  &__box
    margin-top: -18rem
  &__wrap
    display: flex !important
    align-items: start
    margin-top: 18rem
    position: relative !important
    pointer-events: auto
    &:nth-child(1)
      justify-content: flex-end
      align-items: flex-end
      z-index: 1
    &:nth-child(2)
      justify-content: center
    &:nth-child(4)
      justify-content: flex-end
    &:nth-child(5)
      justify-content: flex-end
      align-items: flex-end

  
  &__title
    position: absolute
    white-space: nowrap
    z-index: 20
    &.--title01
      right: -20%
      top: 20%
    &.--title02
      left: 10%
      bottom: -8%
    &.--title03
      left: 10%
      top: -24%
    &.--title04
      left: 10%
      bottom: -8%
    &.--title05
      right: 10%
      top: -10%

  &__artist
    max-width: 45rem
    filter: grayscale(1)
    transition: 0.3s
    &:hover
      filter: grayscale(0)
    &.--artist01
      bottom: -4rem
    &.--artist02,&.--artist03
      max-width: 56rem
    &.--artist04
      right: -10rem
      top: -6rem
  &__glitch-wrap
    position: absolute
    left: 0
    top: 0
    width: 100%
    &::after
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      background-color: $color-main
      +size(100%)
      mix-blend-mode: multiply
    &:first-child
      left: -10px
      &::after
        background-color: $color-sub
    &:nth-child(2)
      left: 10px
      mix-blend-mode: lighten
  &__img
    mix-blend-mode: lighten

.l-news
  padding-top: 12rem
  &__swiper-slide
    height: auto
  &__title-section
    text-align: center
    margin-bottom: 8rem
  &__btn-swiper-wrap
    display: flex
    position: absolute
    left: -4vw
    right: -4vw
    top: 50%
    transform: translateY(-50%)
    z-index: 10
  &__btn-swiper
    background-color: $color-gray-light
    color: $color-gray-mid
    position: absolute
    top: 50%
    transform: translateY(-50%)
    padding: 2rem
    font-size: 1.8rem
    transition: 0.3s
    &:hover
      background-color: $color-gray
      color: $color-sub
      box-shadow: 0 0 4px rgba(#000, 0.8)
    &:active
      background-color: $color-sub
      color: $color-gray
      box-shadow: 0 0 4px rgba($color-gray-light, 0.8)
    &.--pre
      left: 0
      border-radius: 0 2rem 2rem 0
    &.--next
      right: 0
      border-radius: 2rem 0 0 2rem

/* -- about -- */
.l-about
  padding-top: 14rem
  &__title-section
    margin-bottom: 10rem
  &__container
    max-width: calc(1560px + 8vw)
    padding-left: 0
    margin-left: -4vw
  &__img-mask
    height: 100%
    transform-origin: right bottom
    transform: skew(35deg)
    overflow: hidden
  &__img
    +size(100%)
    transform-origin: right bottom
    transform: skew(-35deg)
    background-image: url('../img/about/about.jpg')
    background-size: cover
    background-position: center center
  &__content-wrap
    display: flex
    flex-direction: column
    align-items: flex-end
    padding: 4rem 0 10rem 2vw
  &__content:first-child
    margin-left: -16rem
    margin-bottom: 6rem
  &__title
    margin-bottom: 3rem
  &__btn-more
    margin-top: 6rem

/* -- footer -- */
.l-footer
  margin-top: 12rem
  &__date-mask
    display: flex
    justify-content: center
    align-items: center
    padding: 14rem 4vw
    background-image: url('../img/footer/footer-bg.jpg')
    background-size: cover
    background-position: center center
  &__img-date
    max-width: 35rem
  &__sitemap
    display: flex
    flex-direction: column
    align-items: center
    padding: 4rem 4vw
    background-color: $color-main
  &__btn-box
    display: flex
    justify-content: center
    flex-wrap: wrap
  &__btn-wrap
    &:not(:last-child)
      margin-right: 2.4rem
  &__btn:hover &
    &__text-btn.--en
      opacity: 0
    &__text-btn.--zh
      color: $color-sub
      opacity: 1
  &__btn.is-active &
    &__text-btn
      color: $color-sub
  &__text-btn
    white-space: nowrap
    text-align: center
    transition: 0.3s
    &.--zh
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      opacity: 0
  &__link-box
    display: flex
    align-items: center
    padding: 1.2rem 0 2rem
  &__link-wrap
    transition: 0.3s
    &:hover
      color: $color-sub
    &:not(:last-child)
      margin-right: 1rem

/* ----------------------------------- */
/* ------ Inner ------ */
/* ----------------------------------- */
/* -- header inner -- */
.l-header-inner
  display: flex
  justify-content: center
  align-items: center
  +size(100%, 40vh)
  margin-top: 10rem
  margin-bottom: 12rem
  background-image: url('../img/footer/footer-bg.jpg')
  background-size: cover
  background-position: cennter cennter
  &::before
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 100%
    +size(100%, 10rem)
    background-color: $color-main
  &::after
    content: ''
    display: block
    position: absolute
    +size(100%)
    background-color: $color-main
    mix-blend-mode: multiply
  &__blockade
    top: -35rem

/* -- map -- */
.l-map
  &__wrap
    +size(100%, 45vh)
  &__google
    +size(100%)

/* -- error -- */
.l-error
  &__title
    text-align: center



@media (max-width: 1024px)
  .l-header
    &__swiper-box
      padding-right: 2vw
      padding-left: 10vw
    &__slogan::after
      +size(6.4rem)

// 橫式
@media (max-width: 1024px) and (orientation: portrait)
  /* -- header -- */
  .l-header
    height: 55vh

  /* -- header inner -- */
  .l-header-inner
    &__blockade
      top: -30rem


@media (max-width: 991.98px)
  /* -- header -- */
  .l-header
    &__slogan::after
      +size(5rem)
      border: 7px solid $color-gray-light

  /* -- lineup -- */
  .l-lineup
    &__box
      margin: -18rem -4vw 0
      padding: 0 4vw
      overflow: hidden
    &__wrap:nth-child(5)
      align-items: flex-start
      margin-top: -4rem
    &__artist
      &.--artist04
        right: -6rem
    &__title
      &.--title01
        right: 10%
        top: -10%

@media (max-width: 767.98px)
  /* -- header -- */
  .l-header
    height: 64vh

  /* -- lineup -- */
  .l-lineup
    padding-top: 10vw
    &::after
      height: 10rem
    &__sticky
      top: 10vw

  /* -- about -- */
  .l-about
    &__container
      margin-left: auto
      // 還原 bootstrap 樣式
      padding-left: var(--bs-gutter-x, .75rem)
    &__img-mask
      height: 60vw
      margin-left: -6vw
    &__content:first-child
      margin-left: 0
    &__content-wrap
      padding: 0

  /* -- footer -- */
  .l-footer
    margin-top: 10vw

@media (max-width: 575.98px)
  /* -- header -- */
  .l-header
    &__swiper-box
      padding-left: 6vw
    &__slogan-wrap
      right: 6vw
      top: 30vw
    &__slogan::after
      +size(3.6rem)
      border: 5px solid $color-gray-light
    
  /* -- lineup -- */
  .l-lineup
    &::after
      height: 15rem
    &__blockade
      top: -5%
    &__title-section
      margin-bottom: 12vw
    &__box
      margin-top: -10vw
      // 把 overflow 吃掉的補回來
      padding-bottom: 10vw
    &__wrap
      margin-top: 10vw
    &__wrap:nth-child(5)
      margin-top: 0
    &__artist
      &.--artist01
        left: 10vw
        bottom: 0
      &.--artist02
        left: -10vw
      &.--artist03
        top: 14vw
      &.--artist04
        right: -10vw
        top: 0
      &.--artist05
        top: 10vw

  /* -- news -- */
  .l-news
    padding-top: 14vw
    &__title-section
      margin-bottom: 10vw

  /* -- about -- */
  .l-about
    padding-top: 14vw
    &::after
      top: 16vw
      +size(40%, 6rem)
      background-size: 24% 100%
    &__title-section
      margin-bottom: 12vw
    &__content:first-child
      margin-bottom: 10vw
    &__title
      margin-bottom: 6vw

  /* -- header inner -- */
  .l-header-inner
    margin-bottom: 12vw
    &__blockade
      top: -38rem

  /* -- footer -- */
  .l-footer
    margin-top: 12vw
    &__date-mask
      padding: 20vw 4vw
    &__img-date
      max-width: 30rem
    &__btn-wrap:not(:last-child)
      margin-right: 1.2rem


