doctype html
html(lang="en")
  head
    include includes/config.pug
    include includes/head.pug
    
    meta(property="og:title" content=title)
    title #{title}

  body
    #app
      
      .u-hover-mobile
        .u-hover-mobile__block

      include includes/navbar.pug

      header.l-header-inner(data-aos="fade-down")
        .c-blockade.l-header-inner__blockade
          .c-blockade__line
            //- viewport 完成位置 / easing 延遲
            .c-blockade__text(uk-parallax="viewport: 0.9; x: 70vw,0,-110vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.8; x: -50vw,0,100vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.8; easing: 1.5; x: 100vw,-40vw,-60vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.7; x: -100vw,50vw,90vw") 台灣最生猛海派的音樂祭 - 大港開唱
        h2.l-header-inner__title.u-title-large MAP

      main.main
        section.l-error
          .container
            .row
              .col-md-12
                h3.l-error__title.u-title 糟糕！網頁發生錯誤，請點擊其他連結瀏覽


    include includes/footer.pug
    script(src="js/main.min.js")